* {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", normal;
}

/* Basic choices for game */
#triangle {
  background: url("./assets/images/bg-triangle.svg") center center no-repeat;
  background-size: 254px 287px;
  max-height: 430px;
  max-width: 476px;
  height: 100%;
  width: 100%;
  min-height: 282px;
  min-width: 312px;
}

#pentagon {
  background: url("./assets/images/bg-pentagon.svg") center center no-repeat;
  background-size: contain;
  max-height: 500px;
  max-width: 600px;
  height: 100%;
  width: 100%;
}

/* The border of the choices */
.choiceCircle {
  border-radius: 50%;
  cursor: pointer;
}
.choiceCircle.small {
  padding: 23px 23px 19px 23px;
  outline: rgba(255, 255, 255, 0.05) solid 0px;
  transition: outline 0.2s;
}
.choiceCircle.big {
  padding: 34px 34px 28px 34px;
}
.choiceCircle.small:hover {
  outline: rgba(255, 255, 255, 0.05) solid 24px;
}

/* Background to the icons */
.choice {
  background-color: theme("colors.white");
  width: fit-content;
  border-radius: 50%;
  border-top: 8px solid theme("colors.circle");
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice.small {
  padding: 24px 28px;
  width: 152px;
  height: 152px;
  min-width: 100px;
}
.choice.big {
  padding: 35px 41px;
  width: 225px;
  height: 225px;
  min-width: 100px;
}

/* winner styles
  inner to outer circles
*/
.winner {
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 60px;
  transition: box-shadow 1s ease-out;
  border-radius: 50%;
}
.winner2 {
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 130px;
  transition: box-shadow 2s ease-out;
}
.winner3 {
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 210px;
  transition: box-shadow 3s ease-out;
}

.outcome {
  animation: grow 4s ease-in;
  animation-fill-mode: forwards;
}
.outcome p {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}
.outcome button {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}
@keyframes grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  #triangle {
    background-size: 180 188px;
  }
  .choice {
    border-top: 5px solid theme("colors.circle");
  }
  .choice.small,
  .choice.big {
    width: 100px;
    height: 100px;
    padding: 22px 24px;
  }
  .choiceCircle.big {
    padding: 15px 14px 12px 15px;
  }
  .winner {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 37px;
    transition: box-shadow 0.3s ease-out;
  }
  .winner2 {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 90px;
    transition: box-shadow 1s ease-out;
  }
  .winner3 {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 150px;
    transition: box-shadow 1.5s ease-out;
  }
  .outcome {
    animation: grow 0.75s ease-in;
  }
}
